
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}

#theme1 img {
  max-width: 90%;
  height: auto;
  border-radius: 12px;
}

button {
  padding: 10px 18px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
